body {
    background-color: black;
}

h1 {
    color: blueviolet; 
    text-align: center;
}

h2 {
    color: white;
    font-size: medium;
    margin-top: 100px;
}

h3 {
    color:white;
}


#colorButton {
margin-top: 100px;
margin-left: 390px;
color:brown;

}


#nameDiv{
    color:yellowgreen;
}